.container{
  align-items: center;
  justify-content: center;
font-family: 'Bodoni MT', serif;
}

.background-video{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

.players{
  text-align: center;
  margin-top: 26%;
}

.playerInfo{
  color: white;
}

.topFiveContainer{
  font-size: 23px;
  text-align: center;
  display: block;
}

.topFive{
  display: inline-block;
}

.top1{
  width: 18%;
}

.top2{
  width: 16%;
}

.top3{
  width: 16%;
}

.top4{
  width: 12%;
}

.top5{
  width: 12%;
}

.topOtherContainer{
  display: block;
  text-align: center;
  font-size: 23px;
  margin-top: 5%;
}

.topOtherColumn{
  display: inline-block;
  text-align: left;
}