*,*::before,*::after{
  box-sizing:border-box;
}

.container{
  display: block;
  align-items: center;
  justify-content: center;
  font-family: 'Bodoni MT', serif;
}

.background-video{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  /* z-index: -100; */
  object-fit: cover;
  object-position: center;
}

.cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0 30px;
}

.card{
  z-index: 1;
  mix-blend-mode: lighten;
}

.Queen{
  width: 15%;
}
.Jack{
  width: 17%;
}
.King{
  width: 20%;
}
.Ace{
  width: 21%;
}
.Joker{
  width: 35%;
}

.players{
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: showup 1s ease-in-out; 
  white-space: nowrap;
  mix-blend-mode: lighten;
  width: 100%;
}

@keyframes showup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.playerInfo{
  color: white;
}

.nickname{
  font-size: 30px;
}

.score{
  font-size: 30px;
}

.topFiveContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px 0 40px;
}

.topFive{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top1{
  width: 18%;
}

.top2{
  width: 18%;
}

.top3{
  width: 18%;
}

.top4{
  width: 12%;
}

.top5{
  width: 12%;
}

.topOtherContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 30px;
  position: relative;
  padding: 40px 0;
}

.otherFive{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}