/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Oranienbaum&display=swap');
*,*::before,*::after{
  box-sizing:border-box;
}

body{
  overflow-x: hidden;
  overflow-y: hidden;
}

.container{
  display: block;
  align-items: center;
  justify-content: center;
  font-family: 'Bodoni MT', serif;
}

.background-video{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  /* z-index: -100; */
  object-fit: cover;
  object-position: center;
}

.card{
  width: 100%;
}

.JOKER{
  width: 150%;
}

/* .QUEEN{
  width: 17%;
}
.JACK{
  width: 15%;
}
.KING{
  width: 20%;
}
.ACE{
  width: 21%;
}
.JOKER,.ACE{
  width: 32%;
} */

.players{
  background-color: black;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: showup 2s ease-in-out; 
  white-space: nowrap;
  mix-blend-mode: lighten;
  width: 100vw;
}

@keyframes showup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.playerInfo{
  color: white;
}

.nickname,.rank{
  font-size: 30px;
}

.topFive .rank{
  font-family: 'Oranienbaum', serif;
  background: linear-gradient(to right, rgb(209, 196, 155) 20%, #D3B86A 40%, #D3B86A 60%, rgb(209, 196, 144) 100%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.score{
  font-size: 30px;
}

.topFiveContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px 0 40px;
}

.topFive{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.top1{
  width: 18%;
}

.top2{
  width: 18%;
}

.top3{
  width: 18%;
}

.top4{
  width: 12%;
}

.top5{
  width: 12%;
}

.topOtherContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 30px;
  position: relative;
  padding: 40px 0;
}

.otherFive{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}