@import url('https://fonts.googleapis.com/css?family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');

*,*::before,*::after{
  box-sizing:border-box;
}

/* body{
  overflow-x: hidden;
  overflow-y: hidden;
} */

.container{
  display: block;
  align-items: center;
  justify-content: center;
  font-family: 'Bodoni MT', serif;
  margin-top: -20px;
}

.background-video{
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  /* z-index: -100; */
  object-fit: cover;
  object-position: center;
}

.card{
  width: 100%;
  /* z-index: 1; */
  mix-blend-mode: lighten;
  animation: showup 2s ease-in-out; 
}

.JOKER{
  width: 150%;
}

.players{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: 100vw;
}

.playerInfo{
  color: #D3B86A;
}

.topFive .nickname{
  padding: 5px 5px;
}

.otherFive .nickname{
  padding: 0 50px;
  font-size: 30px;
}

.nickname,.rank{
  font-size: 30px;
}

.nickname{
  font-family:  'ZCOOL XiaoWei', serif;
}

.topFive .nickname{
  font-size: 40px;
}

.topFive .rank{
  font-family: 'Oranienbaum', serif;
  background: linear-gradient(to right, rgb(209, 196, 155) 20%, #D3B86A 40%, #D3B86A 60%, rgb(209, 196, 144) 100%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 1s linear infinite,  showup 2s ease-in-out; 
  font-weight:bold;
  margin-top: -20px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.top1 .rank{
  margin-top: -40px;
}

.topFiveContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px 0 40px;
}

.topFive{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.top1{
  width: 18%;
}

.top1 .nickname, .top1 .score{
  opacity: 95%;
}

.top2{
  width: 20%;
}

.top2 .nickname, .top2 .score{
  opacity: 90%;
}

.top2 .nickname{
  font-size: 38px;
}

.top3{
  width: 18%;
}

.top3 .nickname, .top3 .score{
  opacity: 85%;
}

.top3 .nickname{
  font-size: 35px;
}

.top4{
  width: 15%;
}

.top4 .nickname{
  font-size: 32px;
}

.top4 .nickname, .top4 .score{
  opacity: 80%;
}

.top5{
  width: 12%;
}

.top5 .nickname, .top5 .score{
  opacity: 75%;
}

.top5 .nickname{
  font-size: 30px;
}

.topOtherContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 30px;
  position: relative;
  padding: 30px 0;
  animation: showup 2s ease-in-out;
}

.otherFive{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3px 40px;
  width: 100%;
  color:white;
  border: 1px solid transparent;
  border-image: linear-gradient(-45deg, #C7BD88, #A0823A) 1;
  position: relative;
  animation: showup2 2s linear infinite;
}

.topFive .nickname, .otherFive  .nickname,.score{
  animation: showup 2s linear infinite;
}

.borderClass{
  width: 100%;
  padding:3px 3px;
  border: 2px solid  transparent;
  border-image: linear-gradient(45deg, #C7BD88, #645F37) 1;
  margin-bottom: 10px;
}

.otherFive .nickname, .otherFive .score, .otherFive .rank{
  opacity: 70%;
}

.otherFive .rank{
  color: white;
}

.score{
  font-size: 28px;
  color: white;
}

.otherFive .rank{
  font-family: 'Oranienbaum', serif;
  background: linear-gradient(to right, #C7BD88, #A0823A 40%, #A0823A 60%, #C7BD88);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
  font-weight:bold;
  letter-spacing: 2px;
}

.topFive .nickname{
  position: relative;
  margin: 2px 0;
}

.line{
  border-top: 1px solid #C7BD88;
  border-bottom: 1px solid #C7BD88;
  padding: 3px 0;
}

p{
  color:white;
  position: fixed;
  left: 10px;
  bottom: 10px;
  margin: 0;
}

@keyframes showup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}